

<section class="seccion_personajes"  id="planet">
  <h1>Primera Temporada de StarWars</h1><br>
    <div class="wrapper_naves">
      <table class="seccion_personajes">
        <h3><a href="#modalPlanetas">Planetas</a></h3>
        <tr ng-repeat="people in name">
          <td>Yavin IV</td>
          <td><img src="../../assets/images/Yavin IV.png" title="Yavin IV" height="200px" width="200px"></td>
        </tr>
        <tr>
          <td>Nombre:</td>
          <td>{{planet2.name}}</td>
        </tr>
        <tr>
          <td>Periodo rotación:</td>
          <td>{{planet2.rotation_period}}</td>
        </tr>
        <tr>
          <td>Periodo orbitacional:</td>
          <td>{{planet2.orbital_period}}</td>
        </tr>
        <tr>
          <td>Diametro:</td>
          <td>{{planet2.diameter}}</td>
        </tr>
        <tr>
          <td>Clima:</td>
          <td>{{planet2.climate}}</td>
        </tr>
        <tr>
          <td>Gravedad:</td>
          <td>{{planet2.gravity}}</td>
        </tr>
        <tr>
          <td>Terreno:</td>
          <td>{{planet2.terrain}}</td>
        </tr>
        <tr>
          <td>Superficie del Agua:</td>
          <td>{{planet2.surface_water}}</td>
      </tr>
        <tr>
          <td>Población:</td>
          <td>{{planet2.population}}</td>
      </tr>
      </table>



      
    </div>





