<header>
  <div class="social_icons">
    <ul>
      <li class="facebook"><a href="https://www.facebook.com/StarWars" target="_blank"><img src="../../assets/images/facebook.png" title="facebook"></a></li>
      <li class="tumblr"><a href="https://starwars.tumblr.com/" target="_blank"><img src="../../assets/images/tumblr.png" title="tumblr"></a></li>
      <li class="twitter"><a href="https://twitter.com/starwars" target="_blank"><img src="../../assets/images/gorjeo.png" title="twitter"></a></li>
      <li class="instagram"><a href="https://www.instagram.com/starwars/" target="_blank"><img src="../../assets/images/instagram.png" title="instagram"></a></li>
      <li class="youtube"><a href="https://www.youtube.com/user/starwars" target="_blank"><img src="../../assets/images/youtube.png" title="youtube"></a></li>
    </ul>
  </div>

  <div class="eslogan">
    <p>Hace mucho tiempo, en una galaxia muy, muy lejana ...</p>
    
  </div>

  <div class="search_box">
        <input class="busqueda" type="text" placeholder="Buscar ...">
      </div>
</header>
<section class="seccion_01">
    <img class="poster" src="../../assets/images/background_poster.png">
</section>

<div class="wrapper_episodios">
    <div><a href="episode_i.html"><img class="episode_I" src="../../assets/images/episode_I.png"></a></div>
    <div><a href="#"><img class="episode_II" src="../../assets/images/episode_II.png"></a></div>
    <div><a href="#"><img class="episode_III" src="../../assets/images/episode_III.png"></a></div>
    <div><a href="#"><img class="episode_IV" src="../../assets/images/episode_IV.png"></a></div>
    <div><a href="#"><img class="episode_V" src="../../assets/images/episode_V.png"></a></div>
    <div><a href="#"><img class="episode_VI" src="../../assets/images/episode_VI.png"></a></div>
</div>

<section>
  <a href="index.html"><img class="logo" src="../../assets/images/starwars_logo.png" title="Inicio"></a><br>
</section>

