<section>
    <div class="logo_footer">
      <a href="index.html"><img src="../../assets/images/logo-sw.png" title="Inicio"></a><br>
    </div>
  </section>

  <footer>
    <p>Sigue a Star Wars</p>

    <div class="social_icons_footer">
        <ul>
          <li class="facebook"><a href="https://www.facebook.com/StarWars" target="_blank"><img src="../../assets/images/facebook.png" title="facebook"></a></li>
          <li class="tumblr"><a href="https://starwars.tumblr.com/" target="_blank"><img src="../../assets/images/tumblr.png" title="tumblr"></a></li>
          <li class="twitter"><a href="https://twitter.com/starwars" target="_blank"><img src="../../assets/images/gorjeo.png" title="twitter"></a></li>
          <li class="instagram"><a href="https://www.instagram.com/starwars/" target="_blank"><img src="../../assets/images/instagram.png" title="instagram"></a></li>
          <li class="youtube"><a href="https://www.youtube.com/user/starwars" target="_blank"><img src="../../assets/images/youtube.png" title="youtube"></a></li>
        </ul>
      </div>
    <p>Jaiver Yampier Herrera Lozano Código: 1811982555
    <br>  
      Mary Luz García Duque Codigo 1911982798
    <br>
      Mario Edward Angulo Angulo  Codigo 1821023630
    <br>
      Herbert Osvaldo Mora Ramirez Codigo 1821024626
      
    </p>
    
        

  </footer>
