

<table class="seccion_films">
<br>

  <tr ng-repeat="people in name">
    <td>Darth Vader</td>
    <td><img src="../../assets/images/Darth Vader.png" title="Darth Vader" height="200px" width="200px"></td>
  </tr>
  <tr>
    <td>Nombre: </td>
    <td>{{people3.name}}</td>
  </tr>
  <tr>
    <td>Altura: </td>
    <td>{{people3.height}}</td>
  </tr>
  <tr>
    <td>Masa: </td>
    <td>{{people3.mass}}</td>
  </tr>
  <tr>
    <td>Color de cabello: </td>
    <td>{{people3.hair_color}}</td>
  </tr>
  <tr>
    <td>Color de piel: </td>
    <td>{{people3.skin_color}}</td>
  </tr>
  <tr>
    <td>Color de ojos: </td>
    <td>{{people3.eye_color}}</td>
  </tr>
  <tr>
    <td>Fecha de cumpleaños: </td>
    <td>{{people3.birth_year}}</td>
  </tr>
  <tr>
     <td>Genero: </td>
    <td>{{people3.gender}}</td>
 </tr>
  <tr>
    <td>Creado: </td>
    <td>{{people3.created}}</td>
 </tr>
  <tr>
    <td>Editado: </td>
    <td>{{people3.edited}}</td>
 </tr>

</table>


