
<table class="seccion_personajes" >
  <tr ng-repeat="people in name">   
    <td>Filmación:</td>
    <td><img src="../../assets/images/film.jpg" title="c3po"></td>
  </tr>
  <tr>
    <td>Titulo:</td>
    <td>{{film.title}}</td>  
  </tr>
  <tr>
    <td>Episodio:</td>
    <td>{{film.episode_id}}</td>  
  </tr>
  <tr>
    <td>Abrir:</td>
    <td>{{film.opening_crawl}}</td>
  </tr>
  <tr>
    <td>Director:</td>
    <td>{{film.director}}</td>
  </tr>
  <tr>
    <td>Produción:</td>
    <td>{{film.producer}}</td>
  </tr>
  <tr>
    <td>Fecha:</td>
    <td>{{film.release_date}}</td>  
  </tr>
</table>


