
  <section class="seccion_films"  id="films" ng-app="myApp" ng-controller="MyCtrl">
    
    <h1><a href="#modalPeliculas">Peliculas</a></h1>
    <br>
<table class="seccion_films" >
  <tr ng-repeat="people in name">
    <td>The Phantom Menace</td>
    <td><img src="../../assets/images/episodio 1.png" title="The Phantom Menace"  height="200px" width="200px"></td>
  </tr>
  <tr>
    <td>Titulo:</td>
    <td>{{film.title}}</td>
  </tr>
  <tr>
    <td>Episodio:</td>
    <td>{{film.episode_id}}</td>
  </tr>
  <tr>
    <td>Abrir:</td>
    <td>{{film.opening_crawl}}</td>
  </tr>
  <tr>
    <td>Director:</td>
    <td>{{film.director}}</td>
  </tr>
  <tr>
    <td>Produción:</td>
    <td>{{film.producer}}</td>
  </tr>
  <tr>
    <td>Fecha:</td>
    <td>{{film.release_date}}</td>
  </tr>

</table>


