

<table class="seccion_films">
<br>
  <tr ng-repeat="people in name">
    <td>C-3PO</td>
    <td><img src="../../assets/images/c3po1.png" title="c3po1" height="200px" width="200px"></td>
  </tr>
  <tr>
    <td>Nombre: </td>
    <td>{{people1.name}}</td>
  </tr>
  <tr>
    <td>Altura: </td>
    <td>{{people1.height}}</td>
  </tr>
  <tr>
    <td>Masa: </td>
    <td>{{people1.mass}}</td>
  </tr>
  <tr>
    <td>Color de cabello: </td>
    <td>{{people1.hair_color}}</td>
  </tr>
  <tr>
    <td>Color de piel: </td>
    <td>{{people1.skin_color}}</td>
  </tr>
  <tr>
    <td>Color de ojos: </td>
    <td>{{people1.eye_color}}</td>
  </tr>
  <tr>
    <td>Fecha de cumpleaños: </td>
    <td>{{people1.birth_year}}</td>
  </tr>
  <tr>
     <td>Genero: </td>
    <td>{{people1.gender}}</td>
 </tr>
  <tr>
    <td>Creado: </td>
    <td>{{people1.created}}</td>
 </tr>
  <tr>
    <td>Editado: </td>
    <td>{{people1.edited}}</td>
 </tr>
</table>


