


 
<table class="seccion_films">
<br>
  <tr ng-repeat="people in name">
    <td>R2-D2</td>
    <td><img src="../../assets/images/R2-D2.png" title="R2-D2" height="200px" width="200px"></td>
  </tr>
  <tr>
    <td>Nombre: </td>
    <td>{{people2.name}}</td>
  </tr>
  <tr>
    <td>Altura: </td>
    <td>{{people2.height}}</td>
  </tr>
  <tr>
    <td>Masa: </td>
    <td>{{people2.mass}}</td>
  </tr>
  <tr>
    <td>Color de cabello: </td>
    <td>{{people2.hair_color}}</td>
  </tr>
  <tr>
    <td>Color de piel: </td>
    <td>{{people2.skin_color}}</td>
  </tr>
  <tr>
    <td>Color de ojos: </td>
    <td>{{people2.eye_color}}</td>
  </tr>
  <tr>
    <td>Fecha de cumpleaños: </td>
    <td>{{people2.birth_year}}</td>
  </tr>
  <tr>
     <td>Genero: </td>
    <td>{{people2.gender}}</td>
 </tr>
  <tr>
    <td>Creado: </td>
    <td>{{people2.created}}</td>
 </tr>
  <tr>
    <td>Editado: </td>
    <td>{{people2.edited}}</td>
 </tr>
</table>


