

  <section class="seccion_naves">
  <h1>Naves Espaciales</h1><br>
    <div class="wrapper_naves">

      
  <table class="seccion_naves">
  <tr ng-repeat="people in name">   
      <td>Starship Death Star</td>
    <td><img src="../../assets/images/naveestelar.jpg" title="Estelar"></td>
  </tr>
  <br>
  <tr>
    <td>Nombre:</td>
    <td>{{starship.name}}</td>  
  </tr>
  <tr>
    <td>Modelo:</td>
    <td>{{starship.model}}</td>  
  </tr>
  <tr>
    <td>Fabricante:</td>
    <td>{{starship.manufacturer}}</td>
  </tr>
  <tr>
    <td>Costo en Creditos:</td>
    <td>{{starship.cost_in_credits}}</td>
  </tr>
  <tr>
    <td>Longitud</td>
    <td>{{starship.length}}</td>
  </tr>
  <tr>
    <td>Velocida Maxima de Atmósfera:</td>
    <td>{{starship.max_atmosphering_speed}}</td>  
  </tr>
  <tr>
    <td>Personal:</td>
    <td>{{starship.crew}}</td>  
  </tr>
  <tr>
    <td>Pasajeros:</td>
    <td>{{starship.passengers}}</td>  
  </tr>
  <tr>
    <td>Capacida de Carga:</td>
    <td>{{starship.cargo_capacity}}</td>  
  </tr>
  <tr>
    <td>Consumibles:</td>
    <td>{{starship.consumables}}</td>  
  </tr>
  <tr>
    <td>Hipervelocidad:</td>
    <td>{{starship.hyperdrive_rating}}</td>  
  </tr>
  <tr>
    <td>MGLT</td>
    <td>{{starship.MGLT}}</td>  
  </tr>
  <tr>
    <td>Clase de Nave Espacial:</td>
    <td>{{starship.starship_class}}</td>  
  </tr>

  
  
</table>

<section class="seccion_naves">
  <h1>Naves Espaciales</h1><br>
    <div class="wrapper_naves">

<table class="seccion_naves">
  <tr ng-repeat="people in name">   
      <td>Starship millenium_falcon</td>
    <td><img src="../../assets/images/millenium_falcon.png" title="millenium_falcon"></td>
  </tr>
  <br>
  <tr>
    <td>Nombre:</td>
    <td>{{starship.name}}</td>  
  </tr>
  <tr>
    <td>Modelo:</td>
    <td>{{starship.model}}</td>  
  </tr>
  <tr>
    <td>Fabricante:</td>
    <td>{{starship.manufacturer}}</td>
  </tr>
  <tr>
    <td>Costo en Creditos:</td>
    <td>{{starship.cost_in_credits}}</td>
  </tr>
  <tr>
    <td>Longitud</td>
    <td>{{starship.length}}</td>
  </tr>
  <tr>
    <td>Velocida Maxima de Atmósfera:</td>
    <td>{{starship.max_atmosphering_speed}}</td>  
  </tr>
  <tr>
    <td>Personal:</td>
    <td>{{starship.crew}}</td>  
  </tr>
  <tr>
    <td>Pasajeros:</td>
    <td>{{starship.passengers}}</td>  
  </tr>
  <tr>
    <td>Capacida de Carga:</td>
    <td>{{starship.cargo_capacity}}</td>  
  </tr>
  <tr>
    <td>Consumibles:</td>
    <td>{{starship.consumables}}</td>  
  </tr>
  <tr>
    <td>Hipervelocidad:</td>
    <td>{{starship.hyperdrive_rating}}</td>  
  </tr>
  <tr>
    <td>MGLT</td>
    <td>{{starship.MGLT}}</td>  
  </tr>
  <tr>
    <td>Clase de Nave Espacial:</td>
    <td>{{starship.starship_class}}</td>  
  </tr>
 
  
  
</table>