

<section class="seccion_personajes"  id="planet">
  <h1>Primera Temporada de StarWars</h1><br>
    <div class="wrapper_naves">
      <table class="seccion_personajes">
        <h3><a href="#modalPlanetas">Planetas</a></h3>
        <tr ng-repeat="people in name">
          <td>Alderaan</td>
          <td><img src="../../assets/images/Alderaan.png" title="Alderaan" height="200px" width="200px"></td>
        </tr>
        <tr>
          <td>Nombre:</td>
          <td>{{planet1.name}}</td>
        </tr>
        <tr>
          <td>Periodo rotación:</td>
          <td>{{planet1.rotation_period}}</td>
        </tr>
        <tr>
          <td>Periodo orbitacional:</td>
          <td>{{planet1.orbital_period}}</td>
        </tr>
        <tr>
          <td>Diametro:</td>
          <td>{{planet1.diameter}}</td>
        </tr>
        <tr>
          <td>Clima:</td>
          <td>{{planet1.climate}}</td>
        </tr>
        <tr>
          <td>Gravedad:</td>
          <td>{{planet1.gravity}}</td>
        </tr>
        <tr>
          <td>Terreno:</td>
          <td>{{planet1.terrain}}</td>
        </tr>
        <tr>
          <td>Superficie del Agua:</td>
          <td>{{planet1.surface_water}}</td>
      </tr>
        <tr>
          <td>Población:</td>
          <td>{{planet1.population}}</td>
      </tr>
      </table>



      
    </div>





