<section>
  <a href="index.html"><img class="logo" src="../../assets/images/episode_I.png" title="Inicio"></a><br>
</section>

<section class="episode-i_container">

    <div class="article">
      <img src="../../assets/images/article_episodei.png">
    </div>

    <div class="right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="trailer"><iframe width="1015" height="435" src="https://www.youtube.com/embed/bD7bpG-zDJQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

</section>

<section class="seccion_personajes">
  <h1>Personajes</h1><br>
    <div class="wrapper_personajes">

      <div class="personaje_container">
        <img src="../../assets/images/c3po.png" title="c3po">
        <h1>Darth Vader</h1><br><p>C-3PO, a veces deletreado Cetrespeó y referido a menudo simplemente como Trespeó, era un droide de protocolo unidad 3PO diseñado para interactuar con seres orgánicos, programado principalmente para la etiqueta y el protocolo. Hablaba con fluidez más de siete millones de formas de comunicación, y desarrolló una personalidad exigente y propensa a las preocupaciones a lo largo de sus muchas décadas de operación. Junto con su contraparte, el droide astromecánico R2-D2, C-3PO constantemente se encontró involucrado directamente en momentos cruciales de la historia galáctica, y ayudó a salvar la galaxia en muchas ocasiones..</p>
      </div>

      <div class="personaje_container">
        <img src="../../assets/images/han_solo.png" title="han solo">
        <h1>Lorem ipsum</h1><br><p>Han Solo es un personaje de ficción y uno de los protagonistas de la saga Star Wars. ... El personaje, inspirado en el director de cine Francis Ford Coppola, es un contrabandista al que contrata el antiguo jedi Obi-Wan Kenobi para que le lleve -junto a Luke Skywalker- hasta Alderaan     .</p>
      </div>

      <div class="personaje_container">
        <img src="../../assets/images/yoda.png" title="yoda">
        <h1>Lorem ipsum</h1><br><p>Yoda era uno de los más renombrados y poderosos maestros Jedi durante toda la historia de la Galaxia, y uno de los pocos Jedis de la República Galáctica en sobrevivir hasta la Guerra Civil Galáctica. ... Él fue el último Jedi de la Antigua Orden.</p>
      </div>

      <div class="personaje_container">
        <img src="../../assets/images/yoda.png" title="Obi-Wan Kenobi">
        <h1>Lorem ipsum</h1><br><p>Obi-Wan Kenobi. A legendary Jedi Master, Obi-Wan Kenobi was a noble man and gifted in the ways of the Force. He trained Anakin Skywalker, served as a general in the Republic Army during the Clone Wars, and guided Luke Skywalker as a mentor</p>
      </div>

      <div class="personaje_container">
        <img src="../../assets/images/yoda.png" title="Palpatine">
        <h1>personaje</h1><br><p>En la trilogía original, el emperador es representado como un anciano encapuchado de rostro pálido y líder del Imperio Galáctico mientras que en la trilogía de precuelas, es retratado como un carismático senador de Naboo que usa el engaño y la manipulación política para ascender a la posición de «canciller supremo de la República Galáctica» para afianzarse en el poder..</p>
      </div>

      <div class="personaje_container">
        <img src="../../assets/images/yoda.png" title="yoda">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

    </div>
  <!--/div-->

</section>

<section class="seccion_naves">
  <h1>Naves Espaciales</h1><br>
    <div class="wrapper_naves">

      <div class="nave_container">
        <img src="../../assets/images/millenium_falcon.png" title="Millenium Falcon">
        <h1>Millenium Falcon</h1><br><p>The Millennium Falcon, original designation
        YT 492727ZED, was a Corellian YT-1300f light freighter most 
        famously used by the smugglers Han Solo and Chewbacca during
        the Galactic Civil War. In the time following the Battle of Endor,
        Imperial turncoat Ralsius Paldora noted that 2.2 out of every
        300 stormtroopers were aware of the Falcon's existence.</p>
      </div>
      ../../assets/images/x-wing.png
      <div class="nave_container">
        <img src="../../assets/images/x-wing.png" title="X-Wing">
        <h1>X-Wing</h1><br><p>X-wing starfighters were a type of starfighter marked
        by their distinctive S-foils that resembled the High Galactic script's 
        character "X" in attack formation. They were heavily armed with four laser
        cannons on the S-foils and proton torpedo launchers in the fuselage. 
        X-wings were designed for dogfighting and long missions. During the
        Galactic Civil War, the Rebel Alliance used T-65B X-wing starfighters 
        and T-65C-A2 X-wings in many battles, including the Battle of Yavin and
        the Battle of Endor. </p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/tie_x1.png" title="Tie X1">
        <h1>Lorem ipsum</h1><br><p>The TIE Advanced x1, also known as "TIE/x1" or
          "TIE Interceptor prototype",[6] was an advanced prototype starfighter 
          touted as a replacement for the standard TIE Fighter tested by Darth Vader
          and X1 at the battles of Yavin and Mustafar respectively. While it never 
          made it into production, many of its best design features were later
          incorporated into the TIE/sa bomber and TIE/IN interceptor. Further 
          development of the Advanced continued, eventually leading to the TIE
          Avenger and TIE Defender. </p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/destructor.png" title="Destructor Estelar">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/destructor.png" title="Destructor Estelar">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/destructor.png" title="Destructor Estelar">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/destructor.png" title="Destructor Estelar">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="nave_container">
        <img src="../../assets/images/destructor.png" title="Destructor Estelar">
        <h1>Lorem ipsum</h1><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>


    </div>
  <!--/div-->
  <div><a href="#"><p class="read_more_ne">Leer mas ...</p></a></div>
</section>
