
<app-header></app-header>
<app-contentsmain></app-contentsmain>
<app-film></app-film>
<app-people></app-people>
<app-planet></app-planet>
<app-starship></app-starship>
<app-starship1></app-starship1>
<app-starship2></app-starship2>
<app-starship3></app-starship3>
<app-starship4></app-starship4>
<app-starship5></app-starship5>
<app-starship6></app-starship6>
<app-starship7></app-starship7>
<app-starship8></app-starship8>
<app-vehicle></app-vehicle>
<app-species></app-species>
<app-footer></app-footer>

