 

  
  <table class="seccion_naves">
  <tr ng-repeat="people in name">   
      <td>Imperial shuttle</td>
    <td><img src="../../assets/images/Imperial shuttle.jpeg" title="Imperial shuttle"></td>
  </tr>
  <br>
  <tr>
    <td>Nombre:</td>
    <td>{{starship7.name}}</td>   
  </tr>
  <tr>
    <td>Modelo:</td>
    <td>{{starship7.model}}</td>  
  </tr>
  <tr>
    <td>Fabricante:</td>
    <td>{{starship7.manufacturer}}</td>
  </tr>
  <tr>
    <td>Costo en Creditos:</td>
    <td>{{starship7.cost_in_credits}}</td>
  </tr>
  <tr>
    <td>Longitud</td>
    <td>{{starship7.length}}</td>
  </tr>
  <tr>
    <td>Velocida Maxima de Atmósfera:</td>
    <td>{{starship7.max_atmosphering_speed}}</td>  
  </tr>
  <tr>
    <td>Personal:</td>
    <td>{{starship7.crew}}</td>  
  </tr>
  <tr>
    <td>Pasajeros:</td>
    <td>{{starship7.passengers}}</td>  
  </tr>
  <tr>
    <td>Capacida de Carga:</td>
    <td>{{starship7.cargo_capacity}}</td>  
  </tr>
  <tr>
    <td>Consumibles:</td>
    <td>{{starship7.consumables}}</td>  
  </tr>
  <tr>
    <td>Hipervelocidad:</td>
    <td>{{starship7.hyperdrive_rating}}</td>  
  </tr>
  <tr>
    <td>MGLT</td>
    <td>{{starship7.MGLT}}</td>  
  </tr>
  <tr>
    <td>Clase de Nave Espacial:</td>
    <td>{{starship7.starship_class}}</td>  
  </tr>

  
  
</table>

