

<table class="seccion_personajes">
<br>

  <tr ng-repeat="people in name">
    <td>Luke Skywalker</td>
    <td><img src="../../assets/images/Luke Skywalker.npg" title="Luke Skywalker"></td>
  </tr>
  <tr>
    <td>Nombre: </td>
    <td>{{people.name}}</td>
  </tr>
  <tr>
    <td>Altura: </td>
    <td>{{people.height}}</td>
  </tr>
  <tr>
    <td>Masa: </td>
    <td>{{people.mass}}</td>
  </tr>
  <tr>
    <td>Color de cabello: </td>
    <td>{{people.hair_color}}</td>
  </tr>
  <tr>
    <td>Color de piel: </td>
    <td>{{people.skin_color}}</td>
  </tr>
  <tr>
    <td>Color de ojos: </td>
    <td>{{people.eye_color}}</td>
  </tr>
  <tr>
    <td>Fecha de cumpleaños: </td>
    <td>{{people.birth_year}}</td>
  </tr>
  <tr>
     <td>Genero: </td>
    <td>{{people.gender}}</td>
 </tr>
  <tr>
    <td>Creado: </td>
    <td>{{people.created}}</td>
 </tr>
  <tr>
    <td>Editado: </td>
    <td>{{people.edited}}</td>
 </tr>

</table>


