

<section class="seccion_vehiculos">
  <h1>Especies</h1><br>
    <div class="wrapper_especies">


      
<table class="seccion_personajes">
  <tr ng-repeat="people in name">   
    <td>Especies: </td>
    <td><img src="../../assets/images/especies.jpg" title="c3po"></td>
  </tr>
  <tr>
    <td>Nombre:</td>
    <td>{{species.name}}</td>  
  </tr>
  <tr>
    <td>Clasificació:</td>
    <td>{{species.classification}}</td>  
  </tr>
  <tr>
    <td>Designación:</td>
    <td>{{species.designation}}</td>
  </tr>
  <tr>
    <td>Altura Media:</td>
    <td>{{species.average_height}}</td>
  </tr>
  <tr>
    <td>Color de Piel:</td>
    <td>{{species.skin_colors}}</td>
  </tr>
  <tr>
    <td>Color de Cabello:</td>
    <td>{{species.hair_colors}}</td>  
  </tr>
  <tr>
    <td>Color de Cara:</td>
    <td>{{species.eye_colors}}</td>  
  </tr>
  <tr>
    <td>Promedio de Vidad:</td>
    <td>{{species.average_lifespan}}</td>  
  </tr>
  <tr>
    <td>Lenguaje:</td>
    <td>{{species.language}}</td>  
  </tr> 
</table>


